@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Manrope:wght@200..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/*600 800*/

:root {
    --Soft-Cyan: hsl(174, 77%, 80%);
    /*Full Slider Bar*/
    --Strong-Cyan: hsl(174, 86%, 45%);
    /*Slider Backround*/
    --Light-Grayish-Red: hsl(14, 92%, 95%);
    /*Discount Background*/
    --Light-Red: hsl(15, 100%, 70%);
    /*Discount Text*/
    --Pale-Blue: hsl(226, 100%, 87%);
    /*(CTA Text)*/
    --White: hsl (0, 0%, 100%);
    /*(Pricing Component Background)*/
    --Very-Pale-Blue: hsl(230, 100%, 99%);
    /*(Main Background*/
    --Light-Grayish-Blue: hsl(224, 65%, 95%);
    /*(Empty Slider Bar)*/
    --Light-Grayish-Blue: hsl(223, 50%, 87%);
    /*(Toggle Background)*/
    --Grayish-Blue: hsl(225, 20%, 60%);
    /*(Text)*/
    --Dark-Desaturated-Blue: hsl(227, 35%, 25%);
    /*(Text & CTA Background)*/
    --font-size: 15px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

p {
    color: var(--Grayish-Blue);
    font-size: var(--font-size);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--Very-Pale-Blue);
    padding: 2em 1.5em;
    background-image: url("./images/bg-pattern.svg");
    background-repeat: no-repeat;
    background-size: 100% 50%;
}

header {
    background-image: url("./images/pattern-circles.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    padding: 3em 0;
}

header h1 {
    color: var(--Dark-Desaturated-Blue);
    font-weight: 600;
    font-size: 1.5em;
}

header p {
    margin-top: 1em;
    width: 60%;
    margin: 1em auto;
}

section {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    margin-top: 2em;
    background-color: white;
    width: 100%;
    padding: 2em;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
}

.pageviews {
    text-transform: uppercase;
    font-weight: 600;
    order: 1;
}

/**/

.slider-container {
    width: 100%;
    order: 2;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: linear-gradient(to right,
            var(--Soft-Cyan) var(--value, 0%),
            var(--Light-Grayish-Blue) var(--value, 0%));
    outline: none;
}

/* Thumb - WebKit */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    height: 40px;
    background: url("./images/icon-slider.svg") no-repeat center;
    background-size: 50%;
    background-color: var(--Strong-Cyan);
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s;
    box-shadow: 0px 10px 33px 10px var(--Soft-Cyan);
}

.slider::-webkit-slider-thumb:hover {
    transform: scale(1.1);
}

/* Thumb - Firefox */
.slider::-moz-range-thumb {
    width: 40px;
    height: 40px;
    background: url("./images/icon-slider.svg") no-repeat center;
    background-size: 50%;
    background-color: var(--Strong-Cyan);
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 10px 33px 10px var(--Soft-Cyan);
}

/**/
.perMonth {
    order: 3;
}

.perMonth span {
    color: var(--Dark-Desaturated-Blue);
    font-weight: 800;
    font-size: 2.2em;
}

.billing-options {
    display: flex;
    width: fit-content;
    gap: 5px;
    margin: 0 auto;
    align-items: center;
    font-weight: 600;
    order: 4;

    & p {
        font-size: 12px;
    }
}

.yearly-billing {
    position: relative;

    &::after {
        content: "-25%";
        background-color: var(--Light-Grayish-Red);
        color: var(--Light-Red);
        border-radius: 50px;
        padding: .2em;
        position: absolute;
        width: max-content;
        left: 110%;
    }
}

/* toggle */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.switch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;

    &:hover {
        background-color: var(--Soft-Cyan);
    }
}

.switch-slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.switch-slider {
    background-color: var(--Strong-Cyan);
}

input:focus+.switch-slider {
    box-shadow: 0 0 1px var(--Strong-Cyan);
}

input:checked+.switch-slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.switch-slider.round {
    border-radius: 34px;
}

.switch-slider.round:before {
    border-radius: 50%;
}

/**/

.footer {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 5;
}

.footer ul {
    list-style-type: none;
    font-weight: 600;
    color: var(--Grayish-Blue);
}

.footer ul li {
    margin-top: 1em;

    &::before {
        content: url("./images/icon-check.svg");
        padding-right: 1em;
    }
}

.footer .start-btn {
    margin-top: 2em;
    padding: .8em 3em;
    border-radius: 50px;
    outline: none;
    border: none;
    font-size: 1em;
    font-weight: 800;
    background-color: var(--Dark-Desaturated-Blue);
    color: var(--Light-Grayish-Blue);
}

@media (min-width: 700px) {
    body {
        background-image: url("./images/bg-pattern.svg");
        background-repeat: no-repeat;
        background-size: 100% 50%;
        background-color: var(--Very-Pale-Blue);
    }

    main {
        max-width: 700px;
        margin: 0 auto;
        background-image: none;
        background-color: transparent;
    }

    header {
        background-size: contain;
    }

    header p {
        width: 100%;
    }

    section {
        position: relative;
        padding: 4em;
    }

    .pageviews {
        order: 1;
        align-self: flex-start;
    }

    .perMonth {
        order: 2;
        position: absolute;
        right: 5em;
        top: 3.5em;
    }

    .billing-options {
        gap: 20px;
    }

    .yearly-billing {
        position: relative;

        &::after {
            content: "-25% discount";
            position: absolute;
            width: max-content;
            left: 110%;
        }
    }

    .footer {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }

    .footer ul {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .start-btn {
        cursor: pointer;
        transition: scale .3s ease;

        &:hover {
            scale: 1.1;
        }
    }
}